* {
  margin: 0;
  font-family: 'Arial';
  font-size: 20px;
}

button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  border-radius: 5px;
}

button:hover {
  background-color: magenta;
}

input {
  all: unset;
  text-align: center;
  border-radius: 5px;
  background-color: white;
}

input:hover {
  border: 1px solid black;
}

.page {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dialog {
  display: grid;
  gap: 1em;
  width: 75%;
  height: 50%;
}

.centered-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.players-list-container {
  border: 1px solid black;
  border-radius: 5px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
